<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <meta charset="UTF-8">
    <title>Quên mật khẩu</title>
</head>
<body class="bg-light">
<div layout:fragment="content" class="container mt-5 vh-100" >
    <h1>Quên mật khẩu</h1>
    <form th:action="@{/account/forgot-password}" method="post">
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <button type="submit" class="btn btn-primary">Gửi email đặt lại mật khẩu</button>
    </form>
    <br>
    <p th:if="${message}" th:text="${message}" style="color:green;"></p>
    
    <p th:if="${error}" th:text="${error}" style="color:red;"></p>
</div>
</body>
</html>
